//Tipografia
$fuente_principal: "Montserrat", sans-serif;

//Colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$blanco: #f8fafc;
$negro: #111111;

//Mediaquery
$smartphone: 480px;
$tablet: 820px;
$pc: 1200px;